<div class="row">

  <div class="col-6">
    <mat-card class="example-card bg-bleu">
      <mat-card-header>
        <div mat-card-avatar class="header-image-design"></div>
        <mat-card-title>Création et Intégration de maquettes graphique </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/image/services/web-design.png" alt="developpeur CMS" >
      <mat-card-content>
        <p>
          Je travail en coloboration avec un designer qui s'occupe de la réalisation de vos maquettes en suivant vos envies.<br>
          J’effectue ensuite l’intégration responsive ( rendu adapté au portable/tablette) de vos maquettes en utilisant les technologies modernes.

        </p>
      </mat-card-content>
    </mat-card>

  </div>
  <div class="col-6">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image-cms"></div>
        <mat-card-title>Développement CMS</mat-card-title>
        <mat-card-subtitle>Principalement Wordpress et Prestashop</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/image/services/developpeur-site-wordpress.jpg" alt="developpeur CMS" style="max-height: 270px" >
      <mat-card-content>
        <p>
          Je prends en charge le développement de votre site web en m’assurant qu’il soit lisible sur tablette et mobile.<br>
          Nous échangeons en direct pendant la phase de développement et un site de pré-production est mis en ligne pour vous permettre de suivre les avancées.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="col-6 mt-5">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image-framework"></div>
        <mat-card-title>Développement de site et d'application sur mesure</mat-card-title>
        <mat-card-subtitle>Avec des frameworks comme Symfony, Angular et plein d'autre</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/image/services/developpeur-site-framework.jpg" alt="developpeur sur mesure" style="max-height: 270px" >
      <mat-card-content>
        <p>
          Des applications web mobile (iOS / Android) aux applications ERP métier, en incluant également les sites web, je travaille avec vous sur un cahier des charges pour définir vos besoin et m’occuper ensuite du développement de votre produit.
          J’assure ensuite les mises à jour de celui-ci en fonction de vos besoins.
        </p>
      </mat-card-content>
    </mat-card>

  </div>
  <div class="col-6 mt-5">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image-referencement"></div>
        <mat-card-title> Référencement naturel (SEO) </mat-card-title>
        <mat-card-subtitle>Ensemble des techniques qui consistent à positionner favorablement un site ou un ensemble de pages sur les premiers résultats  des moteurs de recherche</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/image/services/referencement.jpg" alt="referencement naturel" >
      <mat-card-content>
        <p>
          Nous réfléchissons ensemble à une stratégie SEO pour votre site la mettons ensuite en application en suivant les 3 axes classiques du référencement : développement d’une structure interne optimisée, rédaction de contenus pertinents et création de liens-retour solides.

        </p>
      </mat-card-content>
    </mat-card>

  </div>
  <div class="col-6 mt-5">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image-maintenance"></div>
        <mat-card-title>Refonte et maintenance de site et application web</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../assets/image/services/maintenance.jpg" alt="maintenance et refonte" >
      <mat-card-content>
        <p>
          Vous voulez améliorer l’ergonomie de votre site ? Son design ? Ou moderniser ses technologies ?<br>
          Nous effectuons avec une équipe de graphistes un état des lieux de l’existant puis procédons à remanier votre site en fonction de vos besoins et des objectifs établis.

        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="col-6 mt-5">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image-agile"></div>
      <mat-card-title>Méthodologie de travail et Gestion de projet</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../assets/image/services/fond-metod-agile.jpg" alt="maintenance et refonte" >
    <mat-card-content>
      <p>
        Je gère mes projets de façon Agile, c'est à dire que vous pourrez suivre l'avancement du projet pas à pas et donnez votre avis sur l'orientation actuelle et futur du projet.
      </p>
    </mat-card-content>
  </mat-card>

</div>
</div>
