
<header class="header">
  <!--start navbar-->
  <nav class="navbar navbar-expand-lg fixed-top navbar-light  " id="maNavBar">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../assets/logo/monLogoBlancFondTransparent.png" width="180" alt="logo Clément Grandvaux" title="Logo Clément Grandvaux" class="img-fluid"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
        <ul class="navbar-nav ml-5">
          <li class="nav-item ml-2">
            <a class="nav-link text-light" href="">À propos</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link page-scroll text-light" href="">Mes services</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link page-scroll text-light" href="">Mes projets</a>
          </li>
          <li class="nav-item ml-2">
            <a class="nav-link text-light" href="">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!--end navbar-->
</header>

<!--body content wrap start-->
<div class="main">

  <!--hero section start-->
  <section class="hero-section pt-100 background-img" style="background: url('/assets/image/header.jpg') no-repeat center center / cover">
    <div class="container header-contenu mt-5">
      <div class="row align-items-center justify-content-between">

          <div class="hero-content-left text-white text-center">
            <h1 class="text-white">Développeur web freelance </h1>
            <p class="lead mt-5"> Développeur freelance dans l'Est de la France depuis 1 ans, je développe vos projets web et mobile sur mesure.</p>
            <div class="d-flex justify-content-center flex-lg-row flex-column">
              <button mat-raised-button class="mt-4 embed-responsive-4by30 mx-5 mx-lg-0">Contactez-moi</button>
              <p class="mt-lg-5 mt-3 lead ml-lg-4"> <u>OU </u></p>
              <button mat-raised-button class="mt-lg-4 embed-responsive-4by30 mx-5 mr-lg-0 mr-lg-4">Demandez un devis</button>
            </div>

          </div>

      </div>
    </div>
    <div class="bottom-img">
      <img src="../assets/image/wave.svg" alt="Forme de vague" titre="Forme de vague" class="img-fluid">
    </div>
  </section>
  <!--hero section end-->

