button {
  background-color: #7FB6D4;
  color: white;
  font-size:1.5rem;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #7FB6D4;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #7FB6D4;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
  color: #7FB6D4;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: #7FB6D4;
}
::ng-deep .mat-form-field .mat-select-value {
  color: #7FB6D4;
}
::ng-deep .mat-form-field .mat-select-arrow {
  color: #7FB6D4 ;
}
::ng-deep .mat-form-field .mat-list-single-selected-option {
  color: #7FB6D4 ;
}
::ng-deep .mat-select-content {
  color: #7FB6D4 !important;
  background-color: red !important;
}
