<form id="contact-form" #contactForm="ngForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
  <mat-form-field appearance="fill">
    <mat-label>Votre Nom</mat-label>
    <input matInput type="text" [(ngModel)]="contact.name" #name="ngModel" name="name" required>

  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Votre Email</mat-label>
    <input matInput [formControl]="email" required>
    <mat-error *ngIf="email.invalid"> {{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="contact.devis" #devis="ngModel" name="devis" required>
      <mat-option [value]="false">Message</mat-option>
      <mat-option [value]="true">Demander un devis</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Votre Message</mat-label>
    <textarea matInput [(ngModel)]="contact.message" #message="ngModel" name="message" required></textarea>
  </mat-form-field>
  <button mat-raised-button class="mt-lg-4 embed-responsive-4by30 mx-5 mr-lg-0 mr-lg-4" type="submit">Envoyer le message</button>
</form>
