<div class="bg-bleuFoncer">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <img src="../assets/logo/monLogoBlancFondTransparent.png"  style="height: 120px">
      <div class="text-white ">
        <a href="https://github.com/GrandvauxClement" class="text-white"><fa-icon [icon]="faGit" size="4x" class="mr-3" ></fa-icon></a>
        <a href="https://github.com/GrandvauxClement" class="text-white"><fa-icon [icon]="faFacebook" size="4x" class="mr-3"></fa-icon></a>
        <fa-icon [icon]="faInsta" size="4x" class="mr-3"></fa-icon>
        <fa-icon [icon]="faLinkedin" size="4x" class="mr-3"></fa-icon>

      </div>
    </div>
  </div>
</div>
<div class="bg-bleu">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-4 col-12">
        <h3 class="mt-3 text-center"> DÉVELOPPEUR WEB FREELANCE</h3>
        <p class="text-secondary">Développeur Web front & back-end freelance, je suis à votre disposition pour répondre à tout type de projets de création de sites internet, de développement spécifique ou d'applications web.
          Passionné par les technologies liées au Web, je mets mes compétences au service de vos besoins dans divers domaines.
        </p>

      </div>
      <div class="col-lg-4 col-12">
        <h3 class="mt-3 text-center"> Me Contacter</h3>
        <div class="d-flex contact">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-white">phone</mat-icon>
          <p class="text-white ml-3">06-29-16-89-43</p>
        </div>
        <div class="d-flex contact">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-white">email</mat-icon>
          <p class="text-white ml-3">clement.grandvaux@hotmail.com</p>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="bg-bleuFoncer">
  <div class="container">
    <div class="row">
      <div class="col-11 d-flex justify-content-around">
        <ul class="d-flex mt-2">
          <li><a href="#" class="text-white ml-2">Mentions légales</a></li>
          <li class="ml-4"><a href="#" class="text-white ml-2">CGU</a></li>
          <li class="ml-4"><a href="#" class="text-white ml-2">Plan du site</a></li>
        </ul>
        <h5 class="text-white mt-2">Copyrigths © GRANDVAUX Clément .2021</h5>
      </div>

    </div>
  </div>
</div>
