<div class="container my-5">
  <div class="row">
    <div class="col-6">
      <h2>Qui suis-je ?</h2>
      <p class="quiSuisJe mt-5"> Passionné par le numérique depuis 5 ans, j'ai acquis la plupart de mes compétences en autodidacte.</p>
    <p class="quiSuisJe"> Titulaire d’un Titre RNCP de Niveau 5 depuis quelque mois, j’ai décidé de me lancer en tant que développeur web freelance.</p>
      <p class="quiSuisJe">J’interviens sur l’intégration, le développement, l’optimisation et la maintenance de sites internet. </p>

      <p class="quiSuisJe">  Je suis actuellement basé dans l' Est de la France" mais je travaille pour des entreprises dans la France entière.</p>
    </div>
    <div class="col-6">
      <img src="../assets/image/quiSuisJe.jpg" alt="developpeur sur son bureau" class="img-fluid">
    </div>
  </div>
</div>
<div class="bg-light pt-5">
  <div class="container ">
    <h2 class="mb-5"> Mes Services</h2>
    <app-mes-services></app-mes-services>
  </div>
</div>
<div class="container pt-5 mb-5">
  <h2 class="mb-5"> Mes Projets</h2>
  <app-projets></app-projets>
</div>
